
:root {
  --space-outer: 20px;
  --space-outer-2: 40px;
  --font-family-sans: 'Ignazio Text', sans-serif;
  --font-family-serif: 'Ortica Angular', serif;


  --font-size-regular: 16px;
  --font-size-large: 24px;


  --line-height-0: 16px;
  --line-height-1: 20px;
  --line-height-2: 24px;
  --line-height-3: 28px;
  --line-height-4: 28px;
  --line-height-5: 32px;
  --line-height-6: 36px;
  --line-height-7: 40px;
  --line-height-8: 48px;
  --line-height-9: 60px;
  --line-height-10: 72px;
  --line-height-11: 96px;
  --line-height-12: 128px;

  --white: #EFF3F5;
  --black: #122B19;
  --gray-200: #ced2d9;
  --gray-600: #6e7683;
  --red: #C50009;
  --deepblack: #110E0C;
  --max-width-0: 320px;
  --max-width-1: 768px;
}

html {
  background-color: var(--white);
  font-family: var(--font-family-sans), var(--font-family-serif), sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size:var(--font-size-regular);
}

h1{
  font-size:var(--font-size-large);
  font-family: var(--font-family-serif);
}
a:link, a, a:visited{
  color: inherit;
}


body {
  /* border:2px solid var(--red); */
  margin: 0;
  min-height:calc(100vh - 4px);
  color: var(--black);
  background-color: var(--white);
}

/* Navigation */
nav{
  color: var(--red);
  display: flex;
  max-width: 150px;
  z-index: 9;
  height: calc(100vh - 40px);
  padding: var(--space-outer);
  flex-direction: column;
  justify-content: space-between;
  position:fixed;
  top:0;
  left:0;
  border-right: 2px solid var(--red);
}
nav h1{
  margin-top:0;
}
nav a:hover,.subnav a:hover{
  color: var(--black);
}
nav a{
  text-decoration: none;
}
nav ul{
  list-style: none;
  padding-left:0;
  margin:0;
}
/* Layout */
.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
}
.container.inverted, .container.inverted nav, .container.inverted .subnav{
  color:var(--white);
  background-color: var(--deepblack);
}
.container.inverted nav, .container.inverted .subnav{
  border-color: var(--white);
}
.container.inverted nav a:hover,.container.inverted .subnav a:hover{
  color: #ffffff;
}

main {
  padding: var(--space-outer) var(--space-outer-2);
  margin-left: calc(150px + var(--space-outer-2));
  width: calc(100% - (var(--space-outer-2) + var(--space-outer-2)));
}
main.full-bleed{
  padding:0;
  width: calc(100% - (var(--space-outer-2)) - 150px);
}
.header {
  display: flex;
  padding: 0 var(--space-1);
  border-bottom: 1px solid #ced2d9;

  z-index: 10;
  background: var(--white);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.header .header__title {
  font-weight: 800;
  font-size: var(--font-size-3);
  line-height: var(--line-height-1);
  padding-left: var(--space-2);
  margin: var(--space-3) 0;
  text-decoration: none;
  color: var(--black);
}

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 var(--space-3);
}

.footer .footer__text {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  display: flex;
  align-items: center;
  gap: 2px;
}

@media (min-width: 575px) {



}
/* PAGES */
.page__title{
  margin-top:0;
}
section a{
 font-family: var(--font-family-serif)
}
/* About page */
section.about{
  display: flex;
}
section.about > *{
  flex-basis: 30%;
  align-items: flex-start;
}
section.about > img{
  margin-left: var(--space-outer);
  height: auto;
  flex-basis: 70%;
}
/* Commercial */
.commercial ul{
  list-style: none;
  border-top:1px dashed;
  padding-left:0;
  width: 100%;
}
.commercial li{
  border-bottom:1px dashed;
  padding: var(--space-outer);
}
.commercial li a{
  display: flex;
  font-family: var(--font-family-sans);
  text-decoration: none;
  width: 100%;
  justify-content: space-between;
}
/* .commercial li a:hover{
  font-family: var(--font-family-serif)
} */
/* Welcome component */

.welcome__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-2) var(--space-2);
}

.logos {
  display: none;
}

.steps {
  flex-direction: column;
  width: 100%;
}

.steps .steps__list {
  list-style-type: none;
  padding: 0;
}

.steps .steps__entry {
  margin-bottom: var(--space-4);
}

.steps .steps__title {
  font-size: var(--font-size-5);
  line-height: var(--line-height-2);
}

.steps .steps__subtitle {
  font-size: var(--font-size-3);
  line-height: var(--line-height-2);
}

.steps .steps__text {
  line-height: var(--line-height-2);
}

.steps .steps__text a {
  color: var(--blue-600);
  text-decoration: none;
}

@media (min-width: 575px) {
  .welcome__container {
    width: 100%;
  }

  .logos {
    display: flex;
    align-items: center;
    margin: var(--space-6) 0 var(--space-5) 0;
  }

  .logos .logos__blur {
    display: flex;
    position: absolute;
    width: 375px;
    height: 115px;
    background: var(--magenta-100);
    filter: blur(82px);
    transform: rotate(-19deg);
    z-index: -1;
  }

  .logos .logos__plus {
    display: flex;
    font-weight: 800;
    font-size: var(--font-size-7);
    line-height: var(--line-height-6);
    margin: 0 var(--space-4);
  }

  .logos .logos__entry {
    display: flex;
  }

  .steps {
    max-width: var(--max-width-0);
    display: flex;
    padding: 0;
  }

  .steps .steps__subtitle {
    margin-top: var(--space-4);
  }

  .steps .steps__list {
    margin-top: 0;
  }
}
/* Modal */
.modal{
  position: fixed;
  background-color: var(--white);
  color: var(--red);
  z-index: 9;
  border: 1px solid var(--red);
  padding: var(--space-outer);
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 30vh;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) translateY(-50%);
}

.modal > *:first-child{
  font-size: var(--font-size-large);
  font-family: var(--font-family-serif);
  text-align: center;
}
.modal textarea{
  background-color: transparent;
  margin: var(--space-outer) 0;
  border: 1px solid var(--red);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-regular);
  width: 100%;
  flex-basis:60%;
  color: var(--red);
}
.modal button{
  border: 1px solid var(--red);
  color: var(--red);
  cursor: pointer;
  padding: var(--space-outer);
  font-family: var(--font-family-sans);
  flex-basis: 45%;
  font-size: var(--font-size-regular);
}
.modal button:hover{
  background-color: var(--red);
  color: var(--white);
}
.modal > div{
  display: flex;
  justify-content: space-between;
}
.modal.closed{
  display: none;
}
/* Card */

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #ced2d9;
}

.card .card__container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: calc(100% - var(--space-outer-2));
  cursor: pointer;
  padding:var(--space-outer);
  align-items: flex-start;
}
.card__title{
  display: block;
}
.card__container:hover{
  color: var(--red);
}
.card__container.open:hover{
  color: var(--black);
}

.card__title.open {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-large)
}


@media (min-width: 575px) {
  .card {
    border-top: 1px dashed;
    border-bottom: none;
  }

  .card:last-child {
    border-bottom: 1px dashed;
  }
}

@media (min-width: 800px) {
  .card {
    flex-direction: row;
  }

  .card .card__container {
    margin: 0;
  }
  .card__container > div:last-child{
    margin-left: var(--space-outer-2);
    flex-basis: 80%;
  
  }

}

/* Projects Index */
section.projects .page__container, section.projects .project__container{
  width: calc(100% - (150px + (var(--space-outer-2) * 4)));
  padding: 0 var(--space-outer-2);
  margin: 0 auto;
}
.project__title{
  margin-top:0;
}
section.projects .subnav{
  color: var(--red);
  border-left: 2px solid var(--red);
  color: var(--red);
  z-index: 9;
  display: flex;
  max-width: 150px;
  height: calc(100vh - 40px);
  padding: var(--space-outer);
  flex-direction: column;
  position: fixed;
  right: 0;
  background-color: var(--white);
  top:0;
  justify-content: space-between;
}
section.projects .subnav ul{
  list-style: none;
  padding-left:0;
}
section.projects .subnav ul li{
  margin-bottom: calc(var(--space-outer)/2);
}
section.projects .subnav ul li a{
  text-decoration: none;
  font-family: var(--font-family-sans);
}
section.projects .subnav ul li.on a{
  font-family: var(--font-family-serif);
}
section.projects .media{
  position: relative;
  overflow: hidden;
}

section.projects .media img{
  height: auto;
  display: block;
  width: 100%;
  position:relative;
}
section.projects .media .img-wrapper{
  margin: var(--space-outer-2) 0;
}
.info-toggle{
  cursor: pointer;
}
section.project{
  width: calc(100% - (150px + var(--space-outer-2)));
}
.media figcaption{
  margin-top: var(--space-outer-2);
}


/* homepage */


/* film strip */
.film-wrapper{
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  /* height: 100vh; */
  flex-direction: column;
  position: relative;
}
.film-strip{
  width: 100%;
  overflow: hidden;
  padding-top:calc(1em + var(--space-outer-2));
  position:relative;
}
.film-strip:nth-child(even) .strip-inner{
  position: relative;
  animation-duration: 60s;
  animation-name: slideright;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
.film-strip .strip-inner{
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  /* height: 100%; */
  animation-duration: 60s;
  animation-name: slideleft;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slideleft {
  from {
    right: 0;
  }

  to {
    right: 50%;
  }
}
@keyframes slideright {
  from {
    transform:translateX(-20%);
  }

  to {
    transform:translateX(10%);
  }
}
.img-tile{
  position: relative;
  display: inline-block;
  padding: var(--space-outer);

}
.img-tile img{
  width: auto;
  height: 100px;
  margin:0;
}
.projects .img-tile img{
  height: 200px;
}
.img-tile a{
  overflow: hidden;
}
.img-tile:hover .hidden{
  opacity: 1;
}

.img-tile:hover{
  background-color: var(--red);
}
.img-tile:hover img{
  mix-blend-mode: luminosity;
  opacity: 0.2;
}
.img-tile .hidden span{
  text-align: center;
  width: 100%;
}
/* .projects .film-strip{
  /* border-bottom: 2px solid var(--red); */
  /* border-top: 2px solid var(--red);
} */

.film-title{
  margin-left: var(--space-outer);
}
.img-tile .hidden{
  opacity: 0;
  margin: 0;
  align-items: center;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 2;
  top:0;
  left:0;
  color:white;
  /* font-size: var(--font-size-large); */
  font-family: var(--font-family-serif)
}
.img-tile.fade{
  opacity: 1;
}
.project__card:hover{
  color: var(--red)
}
.project__card{
  position: absolute;
  top: 0;
  left:0;
  z-index: 3;
  /* border-left: 2px solid var(--red); */
  /* border-bottom: 2px solid var(--red); */
  border-top: 2px solid var(--red);
  background-color: var(--white);
  text-align: left;
  padding: var(--space-outer);
  width: 100%;
  height: 1em;
  /* height:calc(100% - var(--space-outer-2) - 2px); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.film-strip:first-child .project__card{
  /* border-top:2px solid var(--red); */
  /* height:calc(100% - var(--space-outer-2) - 4px); */
}
.project__card img{
  width: auto;
  height: 200px;
  display: none;
}

.project__card h1{
  margin:0;
  font-size: var(--font-size-regular);
}